@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap');

:root {
    /* Colores primarios */
    --violeta-primario: #8B48BF;
    --celeste-brillante: #3CDDF3;

    /* Colores neutros */
    --azul-grisaceo-oscuro: #1E1E26;
    --azul-muy-oscuro: #232851;
    --variante-gris-claro: rgb(249, 249, 249);
    
    /* Typografía: */
    --fuente-primaria: 'Be Vietnam Pro', sans-serif;
}

*{
    overflow: hidden;
}


header {
    background-color: rgba(240, 248, 255, 0.773);
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 12vh;
}

.header-chup {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.pig{
    display: none;
}

.header-chup nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.header-chup nav ul li{
    color: #242E52;
    font-family: var(--fuente-primaria);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 176.1%; /* 22.893px */
}

.header-chup button {
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    border-radius: 50px;
    border-style: none;
    background: #8B48BF;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
}

.intro {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
}

.elpepe {
    width: 36%;
    max-width: 540px;
    height: auto;
    padding: 10vw 10vh;
}

.intro-article {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
}

.intro-article h1 {
    align-self: stretch;
    color: #232C50;
    text-align: right;
    font-family: var(--fuente-primaria);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%; /* 57.3px */
    letter-spacing: -1.75px;            
}

.enable-bold{ 
    font-weight: bold;
}

.intro-article p {
    display: flex;
    height: 71px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #000;
    text-align: right;
    font-family: var(--fuente-primaria);
    font-size: 16.558px;
    font-style: normal;
    font-weight: 500;
    line-height: 157.1%; /* 26.013px */    
}

.intro-article button {
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border-style: none;
    background: #8B48BF;        
}

.riicumin{
    display: inline-flex;
    width: 100%;
    background: #8B48BF;
    justify-content: center;
}

.mid-brand {
    display: flex;
    width: 80%;
    height: 80%;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.mid-brand h2{
    display: flex;
    width: 450px;
    height: 88px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%; /* 41.256px */  
}

.mid-brand p {
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%; /* 24.176px */
    display: flex;
    width: 450px;
    height: 88px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;        
}

.cards-mid {
    background: #FAFAFA;
    display: flex;
    width: 100%;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;    
}

.waza {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;    
}

.mid-card {
    display: flex;
    width: 553px;
    align-items: flex-start;
    gap: 23px;    
}

.mid-card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;    
}

.buttom-mid-card {
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;     
}

.button-sucu {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #8B48BF;
    border-style: none;
}

.mid-card-title h3 {
    color: #323851;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
}

.mid-card-title p {
    color: #3c3c3c;
    font-family: Be Vietnam;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.523px */
    letter-spacing: -0.163px;
}

.last-section {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--variante-gris-claro);
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.last-section h2 {
    display: flex;
    width: 424px;
    height: 61px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #242E53;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 39.214px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.6%; /* 61.41px */
    letter-spacing: -0.392px;   
    
}

.last-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-top: 6%;
}

.buttom-cards {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}
.img-rounded {
    border-radius: 50%;
}

.buttom-cards h4 {
    color: #3F4868;
    font-family: var(--fuente-primaria);
    font-size: 16.071px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.6%; /* 25.168px */
    letter-spacing: -0.161px;
}

.buttom-cards p {
    width: 403px;
    color: #B9B9C1;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.056px */
}

.last-section button {
    border-radius: 50px;
    background: rgba(139, 72, 191, 0.70);
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-style: none;
}

.before-footer {
    background: #8B48BF;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.before-footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36%;
    position: relative;
    right: 4vh;
}

.before-footer-div h2 {
    color: #FFF;
    font-family: var(--fuente-primaria);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 119.6%; /* 47.84px */
    letter-spacing: -0.2px;
}

.before-footer-div button {
    border-radius: 50px;
    background: #FFF;
    display: flex;
    width: 134px;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-style: none;
    color: #8B48BF;
    font-family: var(--fuente-primaria);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer {
    background: #232C51;
    display: flex;
    width: 100%;
    height: 26vh;
    justify-content: center;
    align-items: center;
    gap: 6%;
    flex-direction: column;
    padding-top: 8%;
}
.footer {
    background: #232C51;
    display: flex;
    width: 100%;
    height: 22vh;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.footer-logo {
    gap: 16px;
    display: flex;
    width: 153.894px;
    height: 22.054px;
    align-items: flex-start;
    gap: 13px;
    flex-shrink: 0;
}


.footer-links {
    display: flex;
    width: 30%;
    height: auto;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 20vh;
    flex-shrink: 0;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer-search {
    display: flex;
    align-items: flex-start;
    gap: 3vw;
    flex-direction: column;
}

.footer-search form{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.footer-search form input {
    color: #A0A0A0;
    font-family: var(--fuente-primaria);
    font-size: 13.181px;
    font-style: normal;
    font-weight: 600;
    border-radius: 50px;
    background: #FFF;
    line-height: normal;
    display: flex;
    width: 201px;
    height: 40px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-style: none;
}

.footer-search form button {
    border-radius: 50px;
    background: #8B48BF;
    display: flex;
    width: 63px;
    height: 42px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-style: none;
    color: var(--variante-gris-claro);
    font: var(--fuente-primaria);
}

#gampi {
    display: none;
}

.gaaa {
    width: 100%;
    justify-content: center;
}

.wem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-direction: column;
    padding: 40px 0px;
}

.wem p {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
    position: relative;
    right: 11%;
}

@media (max-width: 1080px) {
    header {
        height: 8vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .header-chup{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 40%;
    }
    .header-chup nav{
        display: none;
    }
    .header-chup button{
        display: none;
    }
    .pig{
        display: inline-flex;
        justify-content: center;
        align-items: center;    
    }

    main{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        box-sizing: border-box;
        max-width: 100vw;
    }

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 100vw;
        height: 100vh;
    }

    .elpepe {
        width: 80%;
        height: auto;
        padding: 0;
        margin-top: 15vh;
    }

    .intro-article {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

    .riicumin {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100vw;
        background-color: var(--celeste-brillante);
        height: 38vh;
        margin-top: 4vh;
    }

    .mid-brand {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 24%;
    }

    .mid-brand h2 {
        padding-top: 8%;
        display: flex;
        width: 100%;
        height: 20%;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: var(--fuente-primaria);
        font-size: calc(4/100 * 100vh);
        text-align: left;
    }

    .mid-brand p{
        display: flex;
        width: 80%;
        height: 88px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: var(--fuente-primaria);
        font-size: calc(2/100 * 100vh);
        text-align: right;
    }

    .cards-mid {
        display: flex;
        width: 100%;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        gap: 24px;    
    }

    .waza {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;    
        flex-direction: column;
    }

    .mid-card {
        display: flex;
        width: 80%;
        align-items: flex-start;
        justify-content: start;
        gap: 23px;    
    }

    .mid-card-title h3 {
        color: #323851;
        font-family: var(--fuente-primaria);
        font-size: calc(2/100 * 100vh);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.24px;
        text-align: left;
        background-color: #8B48BF4D;
        width: 100%;
    }

    .button-juan {
        position: relative;
        color: var(--variante-gris-claro);
        bottom: 0.38vh;
    }

    .button-sucu {
        position: relative;
        left: 1.6vh;
        color: var(--variante-gris-claro);

    }

    .last-section {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: var(--variante-gris-claro);
        flex-direction: column;
        align-items: center;
        gap: 40px;
        height: auto;
    }

    .last-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 6%;
        flex-direction: column;
    }

    .buttom-cards {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
        margin: 10%;
    }

    .buttom-cards h4 {
        color: #3F4868;
        font-family: var(--fuente-primaria);
        font-size: calc(2/100 * 100vh);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.161px;
        text-align: center;
    }

    .buttom-cards p {
        width: 80%;
        color: #B9B9C1;
        text-align: center;
        font-family: var(--fuente-primaria);
        font-size: calc(1.5/100 * 100vh);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .before-footer {
        background: var(--celeste-brillante);
        height: 28vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
    }

    .before-footer-div {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 16%;
        width: 100%;
        height: 100%;
        position: relative;
        left: 1.1%;
        padding: 4%;
    }
    
    .before-footer-div h2 {
        color: #FFF;
        font-family: var(--fuente-primaria);
        font-size: calc(3.8/100 * 100vh);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        width: 70%;
    }

    .before-footer-div button {
        display: flex;
        width: calc(30%) 134px;
        height: calc(30% * 70/134);
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-style: none;
        font-family: var(--fuente-primaria);
        font-size: calc(1.5/100 * 100vh);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 50px;
        background: #232C50;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25); 
        color: var(--variante-gris-claro);       
    }

    footer {
        width: 100%;
        height: 30vh;
        justify-content: center;
        align-items: center;
        gap: 6%;
        flex-direction: column;
        padding-top: 14%;
        padding: auto;
        box-sizing: border-box;
        
    }

    .footer {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 8%;
        flex-direction: column-reverse;
        position: relative;
        top: 10%;
    }

    .footer-logos {
        display: flex;
        flex-direction: column-reverse;
        gap: 2vh;
        width: auto;
    }

    .footer-links {
        display: flex;
        width: 100%;
        height: auto;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        flex-shrink: 0;
        gap: 20%;
        margin-bottom: 2vh;
    }

    .footer-search {
        display: none;
    }

    .footer-search form input {
        color: #A0A0A0;
        font-family: var(--fuente-primaria);
        font-size: calc(1.5/100 * 100vh);
        font-style: normal;
        font-weight: 600;
        border-radius: 50px;
        background: #FFF;
        line-height: normal;
        display: flex;
        width: calc(30%) 201px;
        height: calc(30% * 70/63);
        padding: 10px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-style: none;
    }

    #Search-button {
        display: none;
    }

    .gampi {
        border-radius: 50px;
        background: #8B48BF;
        display: flex;
        width: calc(30%) 63px;
        height: calc(30% * 70/63);
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-style: none;
        color: var(--variante-gris-claro);
        font: var(--fuente-primaria);
        display: none;
    }


    .gaaa {
        width: 100%;
        justify-content: center;
    }
    
    .wem {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .wem p {
        display: inline-flex;
        text-align: justify;
        justify-content: center;
        position: relative;
        left: 1.65%;
        top: 4%;
    }
}
